$color-accent: #ff8400 !default
$color-text: #000000 !default
$color-text-alt: #454545 !default
$color-background: #FFFFFF !default
$color-background-alt: #F2F2F2 !default
$color-border: rgba(0, 0, 0, 0.30) !default
$color-selection: $color-background !default
$color-selection-background: rgba($color-text, .7) !default

$heading-font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif
$body-font-family: $heading-font-family

$header-background: none
$header-border-bottom-width: 0
$footer-background-color: non
$hero-background-color: $color-accent
