@import "_theme/utils"
@import "_fonts"
@import "_configuration"
@import "_theme/pagedjs"

.block
    &-gallery
        &__image
            break-before: auto
            break-inside: avoid
            figcaption
                margin-top: 2mm
                margin-bottom: 20mm
                position: relative
                max-width: 10cm
                p
                    display: inline
                    font-size: 10pt
                    line-height: 150%
                .credit
                    display: inline
                    text-align: end
                    margin-left: 3mm
                    *
                        font-size: 6pt
                        margin-top: 0
            img
                max-height: 220mm
        h2
            font-size: 10pt
            margin-bottom: 0
            text-transform: uppercase
    &-title
        break-before: page
        min-height: 7mm
        margin-top: -7mm